@charset "utf-8";
/* CSS Document */
#jieshao{
	background-color: rgba(241,247,217,0.7);
	border-radius: 30px;
	display: flex;
    justify-content: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 800px;
	height: 180px;
	position: relative;
    top: 20px;
	box-shadow: 10px 10px 10px #888;
}
#jieshaotext{
	text-shadow: 2px 2px 1px #aaa;
	font-size: 20px;
}

