@charset "utf-8";
/* CSS Document */
.fade-in-text {
  	animation: fadeIn 0.5s ease-in-out;
  	opacity: 1;
	font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}