@charset "utf-8";
/* CSS Document */
#梓 {
  	position: absolute;
  	display: none;
  	background-color: rgba(255,255,255,0.7);
  	border-radius: 30px;
  	box-shadow: 10px 10px 10px #555;
  	padding: 20px;
  	width: 300px;
  	height: 600px;
  	margin-right: 300px;
}

#bandmember img#azusa:hover ~ #梓 {
  	animation: fadeIn 0.5s ease-in-out;
  	display: block;
}

